@use "sass:math";
@use "sass:map";

$breakpoints: (
	phone: 767px,
	tablet: 1024px,
	desktop: 1280px,
	desktop-lg: 1600px
);

@mixin phone {
	@media (min-width: map.get($breakpoints, phone)) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: map.get($breakpoints, tablet)) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: map.get($breakpoints, desktop)) {
		@content;
	}
}

@mixin desktop-lg {
	@media (min-width: map.get($breakpoints, desktop-lg)) {
		@content;
	}
}


@mixin responsive-font(
	$min-size,
	$max-size,
) {
	font-size: clamp-builder($min-size, $max-size);
}

@function clamp-builder($min-size, $max-size) {
	$min-vw: 76.7;
	$max-vw: 160;
	$slope: math.div($max-size - $min-size, $max-vw - $min-vw);
	$y-intercept: $min-size - ($slope * $min-vw);

	@return clamp(
		#{$min-size}rem,
		#{$y-intercept}rem + #{($slope * 100)}vw,
		#{$max-size}rem
	);
}

@mixin background-shadow {
	box-shadow: 0 .2rem .6rem rgba(0, 0, 0, 0.08), 0 .1rem .3rem rgba(0, 0, 0, 0.06);
}
