$color-text: #111827;
$color-text-muted: #6b7280;
$color-text-light: #9ca3af;
$color-text-placeholder: #ADAEBC;
$color-text-settings: #4B5563;
$color-background: #f9fafb;
$color-border: #e5e7eb;
$color-surface: #fff;

$color-primary: #4f46e5;
$color-primary-dark: #2c1cd5;
$color-primary-light: #eef2ff;
$color-gray-light: #f9fafb;
$color-day-label: #f3f4f6;

// border radius
$radius-sm: 0.3rem;
$radius-md: 0.4rem;
$radius-lg: 0.8rem;
$radius-rounded: 50%;

//desktop navigation height
$desktop-navi-height: 5rem;
