@use "../../styles/variables" as variables;

.spinner {
	display: inline-block;
	border-radius: variables.$radius-rounded;
	border: 0.19rem solid var(--color-border);
	border-top-color: var(--color-primary);
	animation: spin 0.8s linear infinite;
}

.sm {
	width: 1rem;
	height: 1rem;
	border-width: 0.13rem;
}

.md {
	width: 1.5rem;
	height: 1.5rem;
	border-width: 0.19rem;
}

.lg {
	width: 2rem;
	height: 2rem;
	border-width: 0.25rem;
}

.visuallyHidden {
	position: absolute;
	width: 0.06rem;
	height: 0.06rem;
	padding: 0;
	margin: -0.06rem;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
