@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;
@use "../../styles/typography" as typography;

.mobile-navigation {
	display: flex;
	flex-direction: column;
	background-color: var(--color-surface);

	.logo-section {
		display: flex;
		justify-content: center;
		margin-top: var(--space-sm);
	}

	.logo-text {
		font-weight: 700;
		color: var(--color-primary);
	}

	.slider-section {
		position: relative;
		display: flex;
		justify-content: space-between;
		border-bottom: .1rem solid var(--color-border);
		padding-block: var(--space-md);
		padding-inline: var(--content-spacing);
	}

	.slider-button {
		@include typography.text-base;
		color: var(--color-text-muted);
		background-color: var(--color-surface);
		border: none;
		cursor: pointer;

		&:hover {
			color: var(--color-primary);
		}

		&:focus-visible {
			color: var(--color-primary);
			outline: .1rem solid var(--color-primary);
			border-radius: variables.$radius-sm;
		}

		.slider-button-label {
			padding: .1rem .3rem;
		}
	}

	.active {
		color: var(--color-primary);
	}

	.slider-underline {
		position: absolute;
		bottom: 0;
		height: 2px;
		background-color: var(--color-primary);
		transition: left 0.3s ease, width 0.3s ease;
	}

	.date-section {
		padding-block: var(--space-lg);
		padding-inline: var(--content-spacing);
		border-bottom: .1rem solid var(--color-border);
	}

	.calendar-section {
		display: flex;
		justify-content: space-between;
		padding: var(--space-md) var(--content-spacing);
		overflow-x: auto;
		gap: var(--space-md);
		border-bottom: 1px solid var(--color-border);
		scroll-snap-type: x mandatory;
		scroll-padding-inline: 50%;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.day-button {
		background-color: var(--color-surface);
		border: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 4.4rem;
		min-width: 5rem;
		width: 3.8rem;
		border-radius: variables.$radius-md;
		color: var(--color-text-muted);
		cursor: pointer;
		scroll-snap-align: center;

		&:focus-visible {
			outline: .1rem solid var(--color-primary);
		}

		&:hover {
			background-color: var(--color-primary-subtle);
			color: var(--color-primary-darker);

			.day-date {
				color: var(--color-primary-darker);
			}
		}

		&.active-day {
			background-color: var(--color-primary);
			color: var(--color-surface);

			.day-date {
				color: var(--color-surface);
			}
		}
	}

	.day-date {
		font-weight: 800;
		color: var(--color-text);
	}

}
