@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as variables;

.home-page {
	.mobile-view {
		display: block;
	}

	.desktop-view {
		display: none;
	}

	.sidebar-content-section {
		display: flex;
	}

	@include mixins.tablet {
		.mobile-view {
			display: none;
		}
		.desktop-view {
			display: block;
		}
	}
}