@use '../../styles/variables' as variables;

.remember-content {
	.task-items {
		display: flex;
		flex-direction: column;
		padding: var(--space-xl);
		gap: var(--space-lg);
	}

	.remember-loading {
		align-self: center;
	}
}