@use "../../styles/mixins" as mixins;
@use "../../styles/typography" as typography;
@use "../../styles/variables" as variables;

.desktop-navigation {
	position: sticky;
	top: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: .1rem solid var(--color-border);
	background-color: var(--color-surface);
	height: variables.$desktop-navi-height;

	.logo-section {
		padding: var(--space-lg);
		border-right: .1rem solid var(--color-border);
		max-width: 25rem;
		width: 30dvw;
	}

	.logo-text {
		font-weight: 700;
		color: var(--color-primary);
	}

	.main-section {
		display: flex;
		gap: var(--space-md);
		padding: var(--space-lg);
		flex: 1;
	}

	.current-week {
		font-weight: 300;
		color: var(--color-text-muted);
	}
}