@use "styles/mixins" as mixins;
@use "styles/variables" as variables;

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('assets/fonts/inter-v19-latin-300.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('assets/fonts/inter-v19-latin-500.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('assets/fonts/inter-v19-latin-600.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('assets/fonts/inter-v19-latin-700.woff2') format('woff2');
}

:root {
	--font-inter: 'Inter', sans-serif;
	/* Colors */
	--color-text: #{variables.$color-text};
	--color-text-muted: #{variables.$color-text-muted};
	--color-text-light: #{variables.$color-text-light};
	--color-text-placeholder: #{variables.$color-text-placeholder};
	--color-text-settings: #{variables.$color-text-settings};
	--color-background: #{variables.$color-background};
	--color-border: #{variables.$color-border};
	--color-surface: #{variables.$color-surface};

	--color-primary: #{variables.$color-primary};
	--color-primary-dark: #{variables.$color-primary-dark};
	--color-primary-light: #{variables.$color-primary-light};
	--color-gray-light: #{variables.$color-gray-light};
	--color-day-label: #{variables.$color-day-label};

	/* Spacings */
	--space-xs: #{mixins.clamp-builder(0.4, 0.8)};
	--space-sm: #{mixins.clamp-builder(0.8, 1.2)};
	--space-md: #{mixins.clamp-builder(1.2, 1.6)};
	--space-lg: #{mixins.clamp-builder(1.6, 2.4)};
	--space-xl: #{mixins.clamp-builder(2.4, 3.2)};
	--space-2xl: #{mixins.clamp-builder(3.2, 4.0)};

	--content-spacing: #{mixins.clamp-builder(1.6, 4.8)};
}

html {
	font-size: 100%;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--color-background);
	font-family: var(--font-inter), sans-serif;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img, picture {
	max-width: 100%;
	display: block;
}

input, button, textarea, select {
	font: inherit;
}
