@use "../../styles/mixins" as mixins;
@use "../../styles/typography" as typography;
@use "../../styles/variables" as variables;

.daily-textarea-block {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: variables.$radius-lg;
	border: .1rem solid var(--color-border);

	&.is-today {
		border-color: var(--color-primary);
	}

	.date {
		@include typography.text-base;
		display: flex;
		border-bottom: .1rem solid var(--color-border);
		padding: var(--space-md);
		gap: var(--space-sm);
		align-items: center;
	}

	.day-batch {
		color: var(--color-primary);
		padding-inline: .5rem;
		padding-block: .3rem;
		border-radius: variables.$radius-md;
		background-color: var(--color-primary-light);
	}

	.month-and-day {
		color: var(--color-text-muted);
	}

	.textarea {
		@include typography.text-base;
		min-height: 12.5rem;
		resize: vertical;
		padding: var(--space-md);
		margin: var(--space-md);
		border: 1px solid #ccc;
		border-radius: 0.3rem;

		&:focus-visible {
			outline: .1rem solid var(--color-primary);
		}

		&::placeholder {
			color: var(--color-text-placeholder);
		}
	}

	@include mixins.tablet {
		.textarea {
			min-height: 25rem;
		}
	}
}
