@use "../../styles/variables" as variables;
@use "../../styles/mixins" as mixins;

.message-error {
	width: fit-content;
	color: var(--color-error-dark);
	background-color: var(--color-error-background);
	padding: var(--space-md);
	border-radius: variables.$radius-lg;
	margin-top: var(--space-md);
	border: 0.1rem solid var(--color-error-border);
	transition: all variables.$transition-base;
}

.message-info {
	color: var(--color-info);
	background-color: var(--color-info-background);
	padding: var(--space-md);
	border-radius: variables.$radius-lg;
	margin-top: var(--space-md);
	border: 0.1rem solid var(--color-info-border);
	transition: all variables.$transition-base;
}
